body {
  text-align: center;
  background-color: rgb(255, 206, 255);
}

td {
  padding: 100px 120px;
  border: 0px solid rgb(114, 2, 90);
  font-size: 120px;
  background-color: white;
}

button {
  border: 0px solid rgb(179, 11, 179);
  font-size: 50px;
  font-weight: bold;
  background-color: violet;
  color: white;
  padding: 40px 140px;
  margin: 10px;
  margin-top: 60px;
}

h1 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 60px;
  color: white;
  background: rgb(246, 160, 246);
  padding: 10px;
}

caption {
  font-size: 50px;
  font-weight: bold;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(6, 202, 202);
  margin-top: 80px;
  margin-bottom: 40px;
}
