body {
  text-align: center;
  background-color: rgb(255, 206, 255);
}

td,
tr {
  padding: 60px 80px;
  border: 0px solid rgb(114, 2, 90);
  font-size: 72px;
  background-color: white;
}

button {
  border: 0px solid rgb(179, 11, 179);
  font-size: 50px;
  font-weight: bold;
  background-color: violet;
  color: white;
  padding: 20px 60px;
  margin: 20px;
}

h1 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 60px;
  color: white;
  background: rgb(246, 160, 246);
  padding: 10px;
}

caption {
  font-size: 50px;
  font-weight: bold;
  color: white;
  background-color: rgb(6, 202, 202);
  margin-bottom: 10px;
}

#previousButton {
  position: relative;
}
